// background colours
$bkgnd-lilac: #8E94F2;
$bkgnd-lt-lilac: #BBADFF;
$bkgnd-lt-pink: #DAB6FC; 

// font colour
$main-font-color: #020B14;

body {
    background-color: $bkgnd-lt-lilac;
    color: #020B14;
}
