.hero-wrapper, .hero-img {
    position: relative;
} 

.welcome-text {
    position: absolute;
    top: 12%;
    left: 5%;
    color: aliceblue;
    font-size: 3vw;
    width: 30%;
}

@media (max-width: 375px) {
    .welcome-text {
         visibility:hidden; 
    }
}
.hero-wrapper:hover {
    transform: scale(1.02);
    transition: transform .4s;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,.24),0 6px 20px 0 rgba(0,0,0,.19);
}

