@use '../helpers/_colors' as color;
@use "../layout/_responsive_flex" as 💪🏽;


.header-container {
    max-width: 100vw;
    margin: 1rem 0;
    position: sticky;
    top: 0; 
    z-index: 50;
    background-image: linear-gradient(to left, color.$bkgnd-lilac, color.$bkgnd-lt-lilac, color.$bkgnd-lt-pink);
}

.nav-bar {
    max-width: 80rem;
    margin: auto;
}

.inner-nav {
    width: 100%;
}

.nav-wrapper {
    @include 💪🏽.flex-mob-row;
}

.nav-wrapper h1 {
    font-size: 2rem;
    flex-shrink: 2;
}

.icon-wrapper {
    margin: 0 0 0 2rem;
    @include 💪🏽.flex-mob-row;
    flex-shrink: 1;
    gap: 5px;
}

/*  Icons to display on small - med screens */
.icon-small-screen {
    display: none;
    padding: 0 2rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    gap: 5px;
}

/* When screen is < 375px, hide icon-wrapper and show icon-small-screen. Otherwise, do the reverse. */

@media (max-width: 376px){
    .icon-wrapper {
        display: none;
    }
    .icon-small-screen {
       @include 💪🏽.flex-mob-row;
    }
}