@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&display=swap');

html {
    box-sizing: border-box;
}

* {
    border: 1px solid red;
}

*::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 5vh 10vw 0 10vw;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    max-width: 1440px;
}

h1, h2, h3 {
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

p {
    margin-top: 0;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #020B14;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}
