// background colours
$bkgnd-lilac: #8E94F2;
$bkgnd-lt-lilac: #BBADFF;
$bkgnd-lt-pink: #DAB6FC; 

// font colour
$main-font-color: #020B14;

body {
    background-image: linear-gradient(to bottom right, $bkgnd-lilac, $bkgnd-lt-lilac, $bkgnd-lt-pink);
    color: #020B14;
}
